html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 14px;
    color: #fff;
    background-color: #000;
}

body #root {
    height: 100%;
}

div {
    box-sizing: border-box;
}

.echarts-dom {
    height: 100%;
}
